<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0)">BÁN HÀNG ĐIỆN TỬ</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Trang chủ</a>
                </li>
                {% for c in categories %}
                <li class="nav-item">
                    <a class="nav-link" href="/?cate_id={{c.id}}">{{ c.name }}</a>
                </li>
                {% endfor %}
            </ul>
            <form class="d-flex" action="/" method="get">
                <label class="me-1">
                    <input class="form-control me-2" placeholder="Search..." type="text" name="kw">
                </label>
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>