{% extends 'layout/base.html' %}

{% block content %}


    <div class="container mt-5 mb-5">
        <h1 class="text-center text-info mt-1">CHI TIẾT SẢN PHẨM</h1>

        <div class="row border">
            <div class="col-md-5 m-2">
                <img src="{{ product.image }}" class="img-fluid rounded"/>
            </div>
            <div class="col-md-6 m-2">
                <h1>{{ product.name }}</h1>
                <p>{{ product.description }}</p>
                <h3 class="text-danger">{{ "{:,.0f}".format(product.price) }} VNĐ</h3>
            </div>
        </div>

        <div class="mt-5">
            {% if current_user.is_authenticated %}
                <div class="form-group">
                <textarea class="form-control" rows="3" id="comment" name="text"
                          placeholder="Nhập nội dung bình luận..."></textarea>
                    <input type="button" onclick="addComment({{ product.id }})" value="Thêm bình luận"
                           class="btn btn-info mt-1 text-white"/>
                </div>
            {% else %}
                <p class="alert alert-success">Vui lòng
                    <a class="text-info" href="/login?next=/products/{{ product.id }}">
                        đăng nhập</a> để bình luận!</p>
            {% endif %}
        </div>

        <div class="mt-2" id="comments">
            {% for c in comments %}
                <div class="row alert alert-info">
                    <div class="col-md-1 col-xs-4">
                        <img src="{{ c.user.avatar }}" class="img-fluid rounded-circle"/>
                    </div>
                    <div class="col-md-11 col-xs-8">
                        <p><strong>{{ c.user.name }}</strong></p>
                        <p>{{ c.content }}</p>
                        <p>Bình luận vào: <span class="date">{{ c.created_date }}</span></p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment-with-locales.min.js"></script>
    <script>
        window.onload = function () {
            let dates = document.getElementsByClassName("date");
            for (let d of dates)
                d.innerText = moment(d.innerText).locale("vi").fromNow()
        }
    </script>
{% endblock %}